.display-full {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.display-center {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-family: system-ui, sans-serif;
}

.display-label {
  font-size: 20px;
  opacity: 0.8;
}

.display-status {
  margin-top: 6px;
  font-size: 16px;
  opacity: 0.6;
}
